@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
}

<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Customers"))
{

    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Name)
    </div>
        <!-- How to insert a date editor in a Razor view -->
    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                if (Model.Id == 0)
                {
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @type = "date", @class = "form-control datepicker", Value = DateTime.Today.Date.ToString("yyyy-MM-dd") })
                }

                else
                {
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @type = "date", @class = "form-control datepicker", Value = Model.DateOfBirth.Value.ToString("yyyy-MM-dd") })
                }

            }

            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.MembershipTypeId)
        @Html.DropDownListFor(c => c.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.MembershipTypeId)
    </div>
    <div class="checkbox">
        <lebel>
            @Html.CheckBoxFor(c => c.IsSubscribedToNewsLetter) Subscirbed to Newsletter?
        </lebel>
    </div>   
         @Html.HiddenFor(m=> m.Id)
         @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
   

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


